body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;

}

.pagina_inicial_carrocel{
    left: 5%;
    top: 80%;
}

.titulo-programa{
    color: white;
}
.conteudo-banner{
    bottom: auto;
    left: 0;
    position: absolute;
    right: auto;
    text-align: left;
    top: 100px;
    margin: 50px;
}
.descricao-programa{
    padding-right: 50%;
    text-align: justify;
    color: white;
}
.botoes{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    bottom: auto;
}
.landing-page.imagem-carrocel {
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: 50% 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.item-menu {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    
}

.pagina_inicial{
    background-color: #868585;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.descricao{
    margin-left: 10px;
    margin-right: 10px;
    
}

.container-footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: 190px;
    align-items: flex-end;
}

.h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.img{
    width: 50%;
    height: auto;
}

